 h3{
	 text-transform: uppercase;
	 color:#0d47a1;
    }
.form1
    {
	  padding-top: 40px;
	  padding-left: 300px;
	  /*padding-right:500px;*/
	  font-size: 20px;
	  
    }
.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #90caf9, #1565c0);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family:  sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(<0, 0, 0, 0.04);
}
